*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */

    }

    @media screen and (max-width: 1200px) {
      body{
       transform-origin: top;
       transform: scale(0.6);
       margin:0 auto;
      }
     
       }
       
body {
    background-color: rgb(152, 126, 129);
    background-image: url('assets/BG.png');
}
/* the main container */

.front-side{
  width: 500px;
  height: 375px;
  position: relative;
  /* adjust this to space out the cards */
  margin: 250px auto;
  overflow: hidden;
  padding: 160px 0 0 155px;
  box-shadow: 2px 5px 15px 0px #13000994;
  background-image: url('assets/Front-Smol.png');
}

.back-side {
  width: 500px;
  height: 375px;
  position: relative;
  /* adjust this to space out the cards */
  margin: 250px auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #13000994;
  background-image: url('assets/Back-Smol.png');

}

/* .front-side{
} */

.name{
  display: grid;
  position: relative;
  margin-left:30px;
  padding: 10px
}

.secondary{
  display: grid;
  position: relative;
  margin-left:30px;

}

.icon-container{

  width:80%;
  margin: 0 auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "a b c";
  grid-gap: 9px;
  padding: 135px 0 0 70px;
}

.text-back {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "d e f";
  grid-gap: 9px;
  padding: 10 0 0 0;
}

.gdes {
  padding: 125px 0 0 330px;
}

.email_space{
  padding: 1px 0 0 0;
}

.twit_space{
  padding: 1px 0 0 28px;
}

.insta_space {
  padding: 0 0 0 35px;
}

.st1{display:inline;}

svg{
  fill:purple;
}

#icon-fill{
  fill:none;
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

.svg-interaction:hover{
  fill:rgb(118, 27, 237);
  opacity: 0.5;
  animation:pulse; 
  animation-duration: 2s;
}